/* nunito-regular - cyrillic_latin */

@font-face {
    font-display: swap;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/nunito-v25-cyrillic_latin-regular.woff2') format('woff2');
}


/* nunito-600 - cyrillic_latin */

@font-face {
    font-display: swap;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/nunito-v25-cyrillic_latin-600.woff2') format('woff2');
}


/* nunito-800 - cyrillic_latin */

@font-face {
    font-display: swap;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/nunito-v25-cyrillic_latin-800.woff2') format('woff2');
}